.card-container {
  list-style: none;

  @media screen and (min-width: $breakpoint-medium){
    display: grid;
    gap: $size-02;
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  text-align: center;

  &:not(:last-child){
    margin-bottom: $size-14;
  }
  
  &__img{
    text-align: center;
    display: inline-block;
    max-width: 90%;
  }
  
  &__title{
    font-size: $size-font-400;
    margin-top: $size-08; 
    margin-bottom: $size-02;

    @media screen and (min-width: $breakpoint-medium){
      font-size: $size-font-500;
    }

    @media screen and (min-width: $breakpoint-large){
      font-size: $size-font-600;
    }
  }

  & .smaller-margin{
    margin-top: $size-05; 
  }

  p {
    text-align: left;
  }

  li {
    text-align: left;
  }
}