.card-container {
  list-style: none;
}

.card {
  text-align: center;

  &:not(:last-child){
    margin-bottom: $size-14;
  }
  
  &__img{
    text-align: center;
    display: inline-block;
    max-width: 90%;
  }

  & .smaller-margin{
    margin-top: $size-05; 
  }

  p {
    text-align: left;
  }

  li {
    text-align: left;
  }
}