.link {
  padding: $offset-4;
  color: inherit;
  background-image: linear-gradient(
                      to bottom,
                      transparent 0%,
                      transparent 30%,
                      $color-base-600 30%,
                      $color-base-600 66.6%,
                      $color-base-100 66.7%
                    );
  transition: all $time-100 ease-out;

  &:link{
    display: inline;
    text-decoration: none;
    background-position: 0 0;
    background-size: 100% 300%;
  }

  &:hover{
    background-position: 0 50%;
  }

  &:active{
    background-position: 0 100%;
    color: $color-darkest;
  }
}

.icon-link{
  height: $size-11;
  width: $size-11;

  &:link{
    svg{
      transition: all $time-300 ease-out;
    }
    path{
      transition: all $time-300 ease-out;
      fill: $color-base-600;
    }
  }

  &:visited path{
    fill: $color-base-600;
  }

  &:hover{
    svg{
      transition: all $time-100 ease-out;
      background-color: $color-base-600;
    }
    path{
      fill: $color-darkest;
    }
  }

  &:active{
    svg{
      background-color: $color-lightest;
    }
  }
}