.link {
  padding: $offset-4;
  color: inherit;
  background-image: linear-gradient(
                      to bottom,
                      transparent 0%,
                      transparent 30%,
                      $color-base-600 30%,
                      $color-base-600 66.6%,
                      $color-base-100 66.7%
                    );
  transition: all $time-100 ease-out;

  &__icon{
    height: $size-12;
    width: $size-12;
  }

  &:link{
    display: inline;
    text-decoration: none;
    background-position: 0 0;
    background-size: 100% 300%;
  }

  &:hover{
    background-position: 0 50%;
  }

  &:active{
    background-position: 0 100%;
    color: $color-darkest;

    & path{
      fill: $color-darkest
    }
  }

  &--dark{
    background-image: linear-gradient(
                      to bottom,
                      transparent 0%,
                      transparent 30%,
                      $color-darkest 30%,
                      $color-darkest 66.6%,
                      $color-base-100 66.7%
                    );
  }
}