body {
  font-family: 'Lato', sans-serif;
  color: $color-lightest;
  font-size: $size-05;

  @media screen and (min-width: $breakpoint-large){
    font-size: $size-06;
  }
}

P {
  margin: 0;
  line-height: 1.5;
  margin-bottom: $size-04;
}

ul{
  margin: $size-02;
  list-style: square inside;
  padding-left: 0;
}

li{
  line-height: 1.5;
  margin: $size-02 0;
}