$color-base-100: hsl(207, 100%, 93%);
$color-base-200: hsl(207, 90%, 75%);
$color-base-300: hsl(206, 60%, 62%);
$color-base-400: hsl(207, 75%, 50%);
$color-base-500: hsl(207, 64%, 39%);
$color-base-600: hsl(207, 90%, 25%);
$color-base-700: hsl(207, 100%, 7%);

$color-gray-100: hsl(208, 21%, 88%);
$color-gray-200: hsl(208, 18%, 76%);
$color-gray-300: hsl(208, 12%, 58%);
$color-gray-400: hsl(207, 12%, 43%);
$color-gray-500: hsl(209, 15%, 28%);
$color-gray-600: hsl(209, 18%, 15%);

$color-lightest: hsl(0, 0%, 95%);
$color-darkest: hsl(209, 21%, 5%);
$color-danger: #960019;

$size-01: 8px;
$size-02: 10px;
$size-03: 12px;
$size-04: 14px;
$size-05: 16px;
$size-06: 18px;
$size-07: 20px;
$size-08: 24px;
$size-09: 30px;
$size-10: 36px;
$size-11: 48px;
$size-12: 60px;
$size-13: 72px;
$size-14: 90px;

$size-font-100: $size-03;
$size-font-200: $size-04;
$size-font-300: $size-05;
$size-font-400: $size-06;
$size-font-500: $size-08;
$size-font-600: $size-09;
$size-font-700: $size-10;
$size-font-800: $size-11;

$offset-1: 1px;
$offset-2: 2px;
$offset-3: 3px;
$offset-4: 4px;
$offset-5: 5px;

$time-100: .1s;
$time-200: .2s;
$time-300: .5s;

$breakpoint-medium: 48em; 
$breakpoint-large: 62em;