.contact{
  padding: $size-11 $size-06;

  @media screen and (min-width: $breakpoint-medium){
    margin: 0 auto;
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    grid-template-rows: min-content 1fr;
    gap: 10px;

    .contact__header{
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .contact__info{
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    .contact__form{
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  }
}