.header{
  background-color: $color-darkest;
  padding: $size-13 $size-06 $size-11 $size-06;

  &__banner{
    display: none;
  }

  &__icons{
    height: $size-13;
    margin-top: $size-04;
    display: flex;

    & .link{
      margin-right: $size-06;
    }
  }

  &__cta{
    margin-top: $size-10;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    & svg{
      width: $size-07;
      height: $size-07;
    }
  }

  @media screen and (min-width: $breakpoint-medium){
    width: 100%;
    padding: $size-11 $size-06;
    display: grid;
    //display: flex;
    //flex-flow: row wrap;
    grid-template-columns: 1fr 1fr;
    gap: $size-14 $size-07 ;
    //justify-content: space-around;
    align-items: center;

    &__introduction{
      grid-column: 1 / 2;
    }
    
    &__banner{
      grid-column: 2 / 3;
      display: block;
    }

    &__cta{
      grid-column: 1 / 3;
      position: static;
      margin: 0;
      justify-self: center;
      transform: translate(0);
    }
  }

  @media screen and (min-width: $breakpoint-large){
    max-width: 1200px;
    padding: $size-14 $size-06;
    margin: 0 auto;
    grid-template-columns: 350px 1fr 550px;

    &__banner{
      grid-column: 3 / 4;
    }

    &__cta{
      grid-column: 1 / 4;
    }
  }
}